
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

/* Header*/
html{
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.mode-btn{
    background-color: White;
    border-radius: 50%;
    border-style:solid;
    border-color:lightgrey;
    margin-right: 30px;
    
}
.mode-btn:hover{ 
    background-color: grey;
    cursor: pointer;
    transition: 0.5s ease;
}
.mode-btn img{
    width: 25px;
    height:25px;
    padding-top: 4px;
    
}
.logo{
    font-family: "Orbitron", sans-serif ;
    font-size: 25px;
    margin-left: 30px;
}
.menu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 63px;
    font-size: 25px;
}
.menu-list li{ 
    position: relative;
    padding-bottom: 4px;
}

.menu-list li::after{ 
   
    position: absolute;
    content: ""; 
    left:0; 
    bottom:0; 
    width: 0;
    height: 3px;
    background-color: grey; 
    
     transition: width 0.5s ease ; 

}
.menu-list li:hover::after{ 
     width: 100%;  
    
}
ul, li, a{
    text-decoration: none;
    list-style: none;
    color : black;
    
}
/* Header Ends */

/* Bio */
.bio{ 
    margin-top: 100px
    
}
.bio .text{ 
    margin-right : 100px
}
.bio .text p{
    font-size:24px;
}
.user-name{
    font-family: "Orbitron",sans-serif;
    color: purple;
}
#profile{
    width:350px; 
    height: 350px;
    border-radius: 50%;
    margin-left: 100px;
}


/* Bio Ends*/

/* skills list */
.skills{ 
    margin-top : 100px;
}
.skills-title{ 
    margin: auto;
    text-align: center;

}
.skills-title p { 
    font-size: 35px; 
    font-weight: bold;
    margin-bottom: 15px;
    
}
.skills-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-box{

    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 800px; 
    height: 500px;
    border-radius: 7%;
    background-color: #ECECEC;
    
}
.skill{ 
    width:  70px; 
    height: 70px;
    margin-top: 20px;
    
}
.skill:nth-child(4n + 1) {
    margin-left: 25px;
}
.dotnet{
    width:50px; 
    height:50px;
}

/* skills list */

/* Projects list */
.projects{
    margin-top: 100px;
}
.projects-title{ 
    margin: auto; 
    text-align: center;
}
.projects-title p{ 
    font-size: 35px; 
    font-weight: bold;
    margin-bottom: 15px;
}

.box{ 
    position: relative;
    height:500px ;
    width:350px; 
    background-color: #ECECEC;
    border-radius: 7%;
}
/* Projects list */
.box .project-logo
{
    margin-top: 60px;
    margin-left:20%; 
    width:200px; 
    height: 200px;
}
.box p {
    width: max-content;
    margin:0  auto;
    font-size: 22px;
    margin-bottom: 40px;
}
.container .box button{ 
    position: absolute;
    left: 42%;
    border-radius: 40%;
     transition: 0.5s ease;
    
}
.container .box button:hover{
    background-color: lightgrey;
}
/* Projects list */

/* Languages */
.languages{ 
    margin-top: 100px;
}
.languages-title{ 
    text-align: center;
    margin:auto; 
}
.languages-title p { 
    font-size: 35px; 
    font-weight: bold;
    margin-bottom: 15px;
}
.lang-container{ 

}
.language{ 
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
    padding : 5px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.language-name p { 
    font-weight: bold;
    font-size: 18px;
}
.proficiency p{ 

}

/* Languages */



/* social Media */
.social-media{ 
    margin-top: 100px;
}
.social-media-title{ 
    margin: auto; 
    text-align: center;
}
.social-media-title p { 
    font-size: 35px; 
    font-weight: bold;
    margin-bottom: 15px;
}
.social-media-container{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 16px;
    margin : auto; 
    width: 350px; 
    height: 70px;
    border-radius: 999px;
    background-color: #ECECEC;
    margin-bottom: 70px;
}
.platform{ 
    width: 40px; 
    height: 40px;
}

/* social Media */

.go-up-btn{
    width: 30px;
    height: 40px;
    position: fixed;
    bottom:60px ;
    right : 25px;
    z-index: 109;
    background-color: white;
    border-radius: 999px;
    transition: 0.5s ease;
}
.go-up-btn:hover{
    background-color: #ECECEC;
}

/* footer */

.dev-info {
    margin-top: 50px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    padding:  10px 20px;
    background-color: #f5f5f5;
    text-align: center;
}
  
  .dev-card {
    display: flex;
    align-items: center;     
    gap: 10px; 
    transform: left 0.5s ease;               
}
  
.dev-logo {
    font-weight: bold;
    font-size: 18px;
    font-family: "Nabla", system-ui;
    color: white;
    padding: 6px 12px;
    border-radius: 999px;      
    display: flex;
    align-items: center;
    justify-content: center;

}
.dev-card:hover{ 

    font-family:"Nabla", system-ui ;
}