
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

/* Header*/
html{
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.mode-btn{
    background-color: White;
    border-radius: 50%;
    border-style:solid;
    border-color:lightgrey;
    margin-right: 30px;
    
}
.mode-btn:hover{ 
    background-color: grey;
    cursor: pointer;
    transition: 0.5s ease;
}
.mode-btn img{
    width: 25px;
    height:25px;
    padding-top: 4px;
    
}
.logo{
    font-family: "Orbitron", sans-serif ;
    font-size: 25px;
    margin-left: 30px;
}
.menu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 63px;
    font-size: 25px;
}
.menu-list li{ 
    position: relative;
    padding-bottom: 4px;
}

.menu-list li::after{ 
   
    position: absolute;
    content: ""; 
    left:0; 
    bottom:0; 
    width: 0;
    height: 3px;
    background-color: grey; 
    
     transition: width 0.5s ease ; 

}
.menu-list li:hover::after{ 
     width: 100%;  
    
}
ul, li, a{
    text-decoration: none;
    list-style: none;
    color : black;
    
}
/* Header Ends */

/* Bio */
.bio{ 
    margin-top: 100px
    
}
.bio .text{ 
    margin-right : 100px
}
.bio .text p{
    font-size:24px;
}
.user-name{
    font-family: "Orbitron",sans-serif;
    color: purple;
}
#profile{
    width:350px; 
    height: 350px;
    border-radius: 50%;
    margin-left: 100px;
}


/* Bio Ends*/

/* skills list */
.skills{ 
    margin-top : 100px;
}
.skills-title{ 
    margin: auto;
    text-align: center;

}
.skills-title p { 
    font-size: 35px; 
    font-weight: bold;
    margin-bottom: 15px;
    
}
.skills-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-box{

    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 800px; 
    height: 500px;
    border-radius: 7%;
    background-color: #ECECEC;
    
}
.skill{ 
    width:  70px; 
    height: 70px;
    margin-top: 20px;
    
}
.skill:nth-child(4n + 1) {
    margin-left: 25px;
}
.dotnet{
    width:50px; 
    height:50px;
}

/* skills list */

/* Projects list */

/* Projects list */